@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --text-gray: #888888;
  --secondary-color: #836b83;
  /* --primary-color: ; */
}
[data-theme="dark"] {
  @apply bg-[#121212] text-[#e3ebdb];
}
[data-theme="light"] {
  @apply bg-[#bfcfb4] text-black;
}
@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.ql-editor img {
  width: 100%;
  height: 100%;
  padding: 10px;
  cursor: pointer;
}
.ql-editor p {
  font-size: 18px;
}
.ql-editor {
  max-width: 100%;
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: break-word;
  -ms-word-break: break-all; 
  word-break: break-word; 
}
.ql-editor li {
  font-size: 18px;
}
.ql-editor blockquote {
  font-size: 18px;
}

@media screen and (min-width: 787px) {
  .ql-editor img {
    width: 700px;
    height: auto;
  }
}
@media screen and(min-width:430px) and (max-width: 786px) {
  .ql-editor img {
    width: 400px;
    height: auto;
  }
}
@media screen and(min-width:300px) and (max-width: 430px) {
  .ql-editor img {
    width: 280px;
    height: auto;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .ql-editor img {
    scale: 0.8;
    opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: entry;
  }
  @keyframes fade-in {
    to {
      scale: 1;
      opacity: 1;
    }
  }
}

.ql-editor {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.section-heading {
  text-align: left;
  width: fit-content;
  padding-right: 4px;
  /* border-bottom-left-radius: 10px; */
  border-bottom-right-radius: 5px;
  border-bottom: 2px solid #0093e9;
}

h1 {
  font-size: 42px;
  font-weight: 700;
}
h2 {
  font-size: 32px;
  font-weight: 500;
}
h3 {
  font-size: 24px;
  font-weight: 500;
}
h4 {
  font-size: 18px;
  font-weight: 600;
}
.hover-blue {
  @apply lg:hover:text-blue-500 active:text-blue-500;
}

.blog-layout {
  display: grid;
  grid-template-columns: repeat(1fr auto);
  gap: 1rem;
  margin: 0.25rem;
}

.nav-menu li {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.container {
  @apply lg:mx-10 md:mx-6 mx-4;
}
.container1 {
  @apply lg:w-[60%] md:w-[80%] w-[98%] mx-auto;
}
.form1 {
  @apply my-4 rounded-lg px-10 pb-10 pt-8 shadow-md;
}
.greenbg {
  @apply bg-[#a9d08f] dark:bg-zinc-900;
}
.shadow1 {
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Horizontal offset, vertical offset, blur radius, color */
}
.shadow2 {
  background-color: #ffffff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5); /* Horizontal offset, vertical offset, blur radius, color */
}
.active {
  color: green;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.btn-submit {
  padding: 5px;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  border-radius: 5px;
  font-size: 10px;
  font-weight: 600;
  color: white;
}
.btn-red {
  padding: 6px 12px;
  background-image: linear-gradient(160deg, #ff0f10 0%, #e5adad 100%);
  border-radius: 5px;
  font-size: 12px;
  color: white;
  font-weight: 600;
}
.rounded-btn {
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 4px 12px;
}
.rounded-btn-inactive {
  [data-theme="dark"] & {
    background-color: #4e5358;
  }
  [data-theme="light"] & {
    background-color: #f8f9fa;
  }
}
.rounded-btn-active {
  [data-theme="dark"] & {
    background-color: #e0e0e0;
    color: black;
  }
  [data-theme="light"] & {
    background-color: #d5dce2;
  }
}
.btn-green {
  padding: 6px 12px;
  background-image: linear-gradient(160deg, #04f738 0%, #8db496 100%);
  border-radius: 5px;
  font-size: 12px;
  color: white;
  font-weight: 500;
}
.ql-align-center img {
  display: block;
  margin: 0 auto;
}

.ql-align-right img {
  display: block;
  margin: 0 0 0 auto;
}
.counter-card {
  @apply w-[160px] h-[130px] flex flex-col gap-1 lg:hover:-translate-y-2 active:-translate-y-2 duration-500 items-center justify-center dark:bg-[#333333] bg-slate-100 rounded-lg;
}

/* theme toggle */

/* spinner */
.loader {
  width: 48px;
  height: 48px;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.my-masonry-grid {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
}
.my-masonry-grid_column {
  padding-left: 10px; /* gutter size offset */
  padding-right: 10px; /* gutter size offset */
}
.my-masonry-grid_column > div {
  margin-bottom: 10px; /* space between items */
}

.shadow3 {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}
.shadow4 {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Horizontal offset, vertical offset, blur radius, color */
}
/* 
  default: 3,
        1100: 2,
        768: 1
    
*/

@media (max-width: 768px) {
  .my-masonry-grid {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
  }
  .my-masonry-grid_column {
    padding-left: 0px; /* gutter size offset */
    padding-right: 0px; /* gutter size offset */
  }
  .my-masonry-grid_column > div {
    margin-bottom: 20px; /* space between items */
  }
}

.img-card-title {
  [data-theme="dark"] & {
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    color: black;
  }
  [data-theme="light"] & {
    background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%);
  }
}

/* media queries */
@media (min-width: 768px) {
  .blog-layout {
    margin: 1rem;
  }
}
@media screen and (min-width: 864px) {
  .counter-area {
    min-height: 130px;
  }
}
@media screen and (min-width: 512px) and (max-width: 863px) {
  .counter-area {
    min-height: 276px;
  }
}
@media screen and (min-width: 336px) and (max-width: 511px) {
  .counter-area {
    min-height: 422px;
  }
}
@media screen and (max-width: 335px) {
  .counter-area {
    min-height: 714px;
  }
}
@media screen and (max-width: 623px) {
  .menu-area {
    min-height: 1442px;
  }
}
@media screen and (min-width: 624px) and(max-width:939px) {
  .menu-area {
    min-height: 470px;
  }
}
@media screen and (min-width: 624px) and(max-width:1959px) {
  .menu-area {
    min-height: 470px;
  }
}
@media screen and (min-width: 1960px) {
  .menu-area {
    min-height: 227px;
  }
}

@media (min-width: 1024px) {
  .blog-layout {
    grid-template-columns: 1fr min-content;
    margin: 3rem;
  }
}
